<app-header></app-header>

<div class="content">
  <h1>Cadastrar novo usuário</h1>
  <form class="row g-3" [formGroup]="formUsuario" (ngSubmit)="goCadastrar()">
    <div class="col-md-8">
      <label for="nome" class="form-label">Nome</label>
      <input type="nome" class="form-control" formControlName="nome">
      <div *ngIf="formUsuario.get('nome')?.errors?.['required']&& formUsuario.get('nome')?.touched">
        <small class="text-danger fw-bold fs-6">Campo obrigatório</small>
      </div>
    </div>
    <div class="col-md-4">
      <label for="telefone" class="form-label">Telefone</label>
      <input type="telefone" class="form-control" formControlName="telefone">
      <div *ngIf="formUsuario.get('telfone')?.errors?.['required']&& formUsuario.get('telefone')?.touched">
        <small class="text-danger fw-bold fs-6">Campo obrigatório</small>
      </div>
    </div>
    <div class="col-md-6">
      <label for="email" class="form-label">E-mail</label>
      <input type="email" class="form-control" formControlName="email">
      <div *ngIf="formUsuario.get('telefone')?.errors?.['required']&& formUsuario.get('telefone')?.touched">
        <small class="text-danger fw-bold fs-6">Campo obrigatório</small>
      </div>
    </div>
    <div class="col-md-4">
      <label for="senha" class="form-label">Senha</label>
      <input type="password" class="form-control" formControlName="senha">
      <div *ngIf="formUsuario.get('telefone')?.errors?.['required']&& formUsuario.get('telefone')?.touched">
        <small class="text-danger fw-bold fs-6">Campo obrigatório</small>
      </div>
    </div>
    <div class="col-md-2">
      <label for="acesso" class="form-label">Acesso</label>
      <select formControlName="acesso" class="form-select">
        <option selected value="">Tipo de acesso</option>
        <option *ngFor="let acesso of userAcesso">{{acesso}}</option>
      </select>
      <div *ngIf="formUsuario.get('acesso')?.errors?.['required']&& formUsuario.get('acesso')?.touched">
        <small class="text-danger fw-bold fs-6">Campo obrigatório</small>
      </div>
    </div>
    <div class="col-md-2">
      <label for="cep" class="form-label">CEP</label>
      <input type="text" class="form-control" formControlName="cep" (blur)="goBuscarEndereco()">
      <div *ngIf="formUsuario.get('cep')?.errors?.['required']&& formUsuario.get('cep')?.touched">
        <small class="text-danger fw-bold fs-6">Campo obrigatório</small>
      </div>
      <span class="text-danger fw-bold fs-6" *ngIf="cepErro">CEP inválido</span>
    </div>
    <div class="col-md-10">
      <label for="endereco" class="form-label">Endereço</label>
      <input type="text" class="form-control" formControlName="endereco">
    </div>
    <div class="col-md-5">
      <label for="bairro" class="form-label">Bairro</label>
      <input type="text" class="form-control" formControlName="bairro">
    </div>
    <div class="col-md-5">
      <label for="cidade" class="form-label">Cidade</label>
      <input type="text" class="form-control" formControlName="cidade">
    </div>
    <div class="col-md-2">
      <label for="estado" class="form-label">Estado</label>
      <input type="text" class="form-control" formControlName="estado">
    </div>

    <div class="col-12">
      <button routerLink="/usuarios" class="btn btn-secondary me-1">Voltar</button>
      <button type="submit" class="btn btn-primary" [disabled]="!formUsuario.valid">Cadastrar</button>
    </div>
  </form>


</div>

<app-footer></app-footer>
